@import url('https://fonts.cdnfonts.com/css/verdana');
@import url('https://fonts.cdnfonts.com/css/century-gothic');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.navbar {
    position: fixed;
    width: 100%;
    padding: 30px 10px;
    background: #C2E5D3;
    z-index: 1;
}
.navbar.sticky{
    padding: 30px;
    background: lightgray;
}
.navbar .logo a{
    color: #254117;
    font-family: Copperplate Gothic;
    font-size: 35px;
    font-weight: 600;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a:hover{
    color: #7C9D8E;
}
.navbar .logo a span{
    color: #43BFC7;
}
.navbar .logo a span:hover{
    color: #306754;
}
.navbar .menu li{
    list-style: none;
    display: inline-block; 
}
.navbar .menu a{
    display: block;
    color: #355E3B;
    font-family: verdana;
    font-size: 18px;
    font-weight: 600;
    margin-left: 25px;
    transition: all 1s linear;
}
.navbar .menu li a:hover{
    color: #7C9D8E;
}
.menu-btn{
    cursor: pointer;
}
.home{
    display: flex;
    background: url("images/banner-3.jpg") no-repeat center;
    height: 100vh;
    color: #4B5320;
    min-height: 500px;
    max-height: 720px;
    background-size: cover;
    background-attachment: fixed;
    font-family: verdana;
    transition: all 0.3s linear;
}
.home .max-width {
    margin: auto 0 auto 30px;
    
}
.home .home-content .text-1{
    font-size: 25px;
}
.home .home-content .text-2{
    font-size: 50px;
    font-weight: 700;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 25px;
}
.home .home-content a{
    display: inline-block;
    background: #00827F;
    color: #fff;
    font-size: 15px;
    padding: 8px 20px;
    margin-top: 30px;
    border-radius: 10px;
    transition: all 0.5s linear;
    
}
.home .home-content a:hover{
    color: #fff;
    background: #3EA99F;
}
section {
    padding: 50px 0;

}
.about{
    display: flex;
    font-family: century gothic;

    
}
.about .title{
    text-align: center;
    font-size: 200%;
    padding-bottom: 50px;
    font-family: verdana;
}
.about .about-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

}
.about .about-content .left{
    width: 45%;
    
}
.about .about-content .left img{
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 20px;
}
.about .about-content .right{
    width: 55%;
}
.about .about-content .right p{
    font-size: 20px;
    text-align: justify;
}
.about .about-content .right .text{
    margin-bottom: 10px;
    color: #3C565B;
}
.services{
    color: black;
    background: #7BCCB5;
}
.services .title{
    font-family: verdana;
    color: white;
    text-align: center;
    font-size: 30px;
    padding-bottom: 50px;
}
.services .services-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

}
.services .services-content .card{
    width: calc(33% - 20px);
    background: white;
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;  
}
.services .services-content .card:hover{
    background: #3EA99F;
    color: #fff;
}
.services .services-content .card .box{
    transition: all 0.3 ease;
}
.services .services-content .card .box:hover{
    transform: scale(1.05);
}
.services .services-content .card img{
    height: 60px;
    width: 60px;
}
.services .services-content .text{
    font-family: century gothic;
    font-size: 20px;
    margin: 10px 0;
}
.services .services-content p{
    font-family: century gothic;
    font-size: 16px;
}
.skills {
    display: flex;
    background: url("images/banner-4.jpg") no-repeat center;
    font-family: century gothic;
    font-size: 16px;
    background-size: fixed;
    background-attachment: fixed;
}
.skills .title{
    font-family: verdana;
    color: black;
    text-align: center;
    font-size: 30px;
    padding-bottom: 50px;
}
.skills .skills-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.skills .skills-content .column{
    width: calc(50% - 30px);
}
.skills .skills-content .left .text{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}
.skills .skills-content .left p{
    text-align: justify;
    font-size: 16px;

}
.skills .skills-content .left a{
    display: inline-block;
    background: #00827F;
    color: #fff;
    font-size: 15px;
    padding: 8px 20px;
    margin-top: 30px;
    border-radius: 10px;
}
.skills .skills-content .left a:hover{
    color: #fff;
    background: #3EA99F;
}
.skills .skills-content .right .bar{
    margin-bottom: 10px;
}
.skills .skills-content .right .info{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}
.skills .skills-content .right .info:hover{
    color: #43BFC7;
}
.skills .skills-content .right span{
    font-weight: 700;
    font-size: 16px;
    padding: 5px;
}
.skills .skills-content .right .line{
    height: 5px;
    width: 100%;
    background: lightgray;
    position: relative;
}
.skills .skills-content .right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    right: 0;
    background: #00827F;
}
.skills .skills-content .right .html::before{
    width: 95%;
}
.skills .skills-content .right .css::before{
    width: 83%;
}
.skills .skills-content .right .js::before{
    width: 88%;
}
.skills .skills-content .right .php::before{
    width: 85%;
}
.skills .skills-content .right .mysql::before{
    width: 90%;
}
.contact{
    display: flex;
    background: url("images/banner-5.jpg") repeat center;
    background-size: cover;
    background-attachment: scroll;
    font-family: century gothic;
    }
.contact .title {
    font-family: verdana;
    text-align: center;
    font-size: 30px;
    padding-bottom: 50px;
}
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.contact .contact-content .column{
    width: calc(50% - 30px);
}
.contact .contact-content .column .text{
    color: #254117;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 100px 0;
    padding-bottom: 10px;
}
.contact .contact-content .left p{
    font-size: 16px;
    text-align: justify;
}
.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}
.contact .contact-content .info{
    margin-left: 20px;
}
.contact .contact-content .left img{
    height: 30px;
    width: 30px;
}
.contact .contact-content .info .head{
    color: #004225;
    font-weight: 700;
    padding: 3px 0;
}
.contact .contact-content .info .sub-title{
    font-weight: 700;
    font-size: 15px;

}
.contact .right form .fields{
    display: flex;

}
.contact .right form .fields,
.contact .right form .fields, .field{
    height: 45px;
    width: 100%;
    margin-bottom: 10px;
}
.contact .right form .textarea{
    height: 80px;
    width: 100%;

}
.contact .right form .name{
    margin-right: 10px;
} 
.contact .right form .email{
    margin-left: 10px;
}
.contact .right form .field input,
.contact .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 2px solid lightgray;
    border-radius: 5px;
    outline: none;
    padding: 0 15px;
}
.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus{
    border-color: #3EA99F;

}
.contact .right form .textarea textarea{
    padding-top: 10px;
    resize: none;
}

.contact .right form .button{
    height: 40px;
    width: 140px;
}
.contact .right form .button button{
    height: 100%;
    width: 100%;
    background: #1F6357;
    border: 2px solid #1F6357;
    color: white;
    font-size: 16px;
    font-weight: 700;
    border-radius: 5px;
    font-family: century gothic;
    cursor: pointer;
}
.contact .right form .button button:hover{
    color: white;
    border: 2px solid white;
    background: #3EA99F;

}
footer{
    font-family: verdana;
    font-size: 16px;
    text-align: center;
    background: #3EA99F;
    color: white;
    padding: 5px 25px;
}
footer span {
    color: #254117;
}
footer a {
    color: black;
}
footer a:hover {
    color: #fff;
    text-decoration: underline;
}
@media (max-width: 1920px){
    .home .max-width{
        margin-left: : 0px;
    }
    .menu-btn{
        display: none;
        z-index: 999;
    }
}
@media (max-width: 1104px){
    .about .about-content .left img{
        height: 350px;
        width: 350px;
    }
}
@media (max-width: 991px){
    .max-width: {
        padding: 0 50px;
    }
}
@media (max-width: 947px){
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .navbar .menu{
        position: fixed;
        height: 70vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: black;
        opacity: 90%;
        text-align: center;
        padding-top: 55px; 
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;

    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px;
        font-size: 20px;
        color: #fff;
    }
    .home .home-content .text-2{
        font-size: 35px;
    }
    .home .home-content a{
        font-size: 18px;
        padding: 10px 30px;
    }
    .max-width{
        max-width: 930px;
    }
    .about .about-content .column{
        width: 100%;

    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 50px;
    }
    .services .services-content .card{
        width: calc(50% - 10px);
        margin-bottom: 35px;

    }
    .skills .skills-content .column,
    .contact .contact-content .column{
        width: 100;
        margin-bottom: 35px;  
    }
}
@media (max-width: 690px){
    .max-width{
        padding: 0 23px;
    }
   .services .services-content .card{
        width: 100%;

    }
}
@media (max-width: 500px){
    .contact .rigth form .fields{
        flex-direction: column;
        margin-bottom: 50px;
    }
    .contact .rigth form .name,
    .contact .rigth form .email{
        margin-bottom: 0;
    }
}
